/*@Author : Mostafa Abobakr*/
body
{
	background-color: grey;
}
#maindiv
{

	margin: 20px 50px 20px 50px;
	border: 2px solid grey;
	border: 3px solid white;
	border-radius: 10px;
	overflow: auto;
	background-image: url('bg.jpg');
	background-repeat: no-repeat;
}
#main2
{
	background-color: yellow;
	padding-left: 5px;
	height: 410px;
}
#cover
{
	background color: white;
	padding: 0px 8px 0px 8px;

}
#paragraph
{
}
#footer
{
	position:flex;
	height:auto;
	bottom: 0;
	width:100%;
	padding-bottom: 5px;
	text-align:center;
	background-color: #000;
	 opacity: 0.8;
	color: white;
}
.divline
{
display:inline-block;
overflow: hidden;
}
#tablespan
{
	float: right;
	background-color: #f39c12;
	border-left: 2px dotted black;
	padding: 10px;
}
/*Text color*/
.redtext
{
	color: #e74c3c;
}
p
{
	color: grey;
}
.whitetext
{
color: white;
}
.yellowtext
{
color: #f1c40f;
}
#header
{
	color: white;
	background-color: #2c3e50;
	padding: 5px;
}
.greytext
{
	color: grey;
	text-align: left;
}